registry=https://registry.npmjs.org/
strict-ssl=false
loglevel=info
legacy-peer-deps=true
fetch-retries=3
fetch-retry-factor=2
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=60000
prefer-offline=true
progress=false
timeout=600000 