# Node Modules - Geral e em subdiretórios
node_modules/ # Ignora qualquer node_modules em qualquer nível (inclui /backend/node_modules e /frontend/node_modules)
/.pnp # Ignora .pnp na raiz
.pnp.js # Ignora .pnp.js na raiz

# Coverage - testes
coverage

# Arquivos de Build - Geral e em subdiretórios
dist/ # Ignora qualquer pasta dist em qualquer nível (inclui /backend/dist e /frontend/dist)
build/ # Caso use 'build' em vez de 'dist' em algum lugar
out/ # Outras pastas de build comuns

# Variáveis de Ambiente - Geral e em subdiretórios
.env # O arquivo .env principal (se existir na raiz ou subpastas)
.env.* # Qualquer arquivo .env.algumacoisa (ex: .env.local, .env.development, .env.production)
.env.*.local # Outros formatos de .env.local

# Logs
*.log # Qualquer arquivo .log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/backend/ngrok.log # Log específico do ngrok no backend gerado pelo script
/frontend/ngrok.log # Log específico do ngrok no frontend gerado pelo script

# Arquivos de Cache e Temporários de Ferramentas
.eslintcache # Cache do ESLint
.vite/ # Cache específico do Vite (geralmente em /frontend/.vite/)
.npm/ # Cache do npm
.yarn-cache/ # Cache do yarn

# IDEs e Editores
.vscode/ # Configurações do VS Code
.idea/ # Configurações do IntelliJ IDEA
*.sublime-project
*.sublime-workspace

# Sistema Operacional
.DS_Store # Arquivos do macOS
Thumbs.db # Arquivos do Windows para miniaturas

# Outros arquivos temporários
temp/
tmp/
*.tmp
*.bak